<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title><%= article.title %></title>
</head>
<body>
    <main>
        <div class="container my-5 col-6">
            <h1 class="mb-2"><%= article.title %></h1>
            <div class="text-muted mb-3">
                <%= article.creationDate.toLocaleDateString() %>
                &emsp;
                <%= article.creationDate.toLocaleTimeString() %>
            </div>

            <a href="/" class="btn btn-secondary">All Articles</a>
            <a href="/articles/edit/<%= article.slug %>" class="btn btn-info">Edit</a>

            <div>
                <%- article.sanitizedHtml %>
            </div>
        </div>
    </main>
</body>
</html>